.karousel-box {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.karousel-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.karousel-main,
.prev-arrow,
.next-arrow {
  position: relative;
  z-index: 1;
}

.karousel-main {
  display: flex;
  flex-direction: row;
  top: 25%;
  width: 100vw;
  height: 100vh;
}

.karousel-image {
  width: auto;
  height: 55vh;
  margin-left: 7vw;
  margin-right: 0;
}

.karousel-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 0;
  bottom: 5%;
  left: 15%;
  z-index: 2;
  width: 40vw;
}

.karousel-title {
  font-family: "sub", sans-serif;
  color: #a10f0f;
  font-size: 6vh;
  line-height: 2;
  margin: 0;
}

.karousel-subtitle {
  font-family: "main", sans-serif;
  color: #1f1f1f;
  font-size: 6vh;
  margin: 0;
}

.karousel-body {
  font-family: "body", sans-serif;
  color: #1f1f1f;
  font-size: 2.5vh;
}

.karousel-link {
  position: relative;
  z-index: 30;
  font-family: "main", sans-serif;
  color: #1f1f1f;
}

.karousel-bottom {
  display: flex;
}
.arrows {
  width: 30vw;
  color: #1f1f1f;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0vh 0vh 5vh 100vh;
}

.arrows button {
  background-color: transparent;
  color: #1f1f1f;
  font-size: 4vh;
  border: none;
  cursor: pointer;
}

.arrows button:focus {
  outline: none;
  box-shadow: none;
}
